#body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #212529;
  color: white;
}
.logo {
  fill: white;
}
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}
.uppercase {
  text-transform: uppercase;
  
}

